<header>
    <div>
    <img src='/Assets/logo_blanc.png' alt='White Mr. Coffee Logo' id='whiteLogo'>
    <h1>Scheduling Website</h1>
    </div>
    <% if (req.session.userId) { %>
        <nav>
            <a href="/">Home</a>
            <a href="/newschedule">New Schedules</a>
            <a href="/logout">Logout</a>
        </nav>
    <% } %>
</header>
<main>
