<header>
    <div>
    <img src='/Assets/logo_blanc.png' alt='White Mr. Coffee Logo' id='whiteLogo'>
    <h1>Scheduling Website</h1>
<<<<<<< HEAD
</header>
=======
    </div>
    <div>
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/signup">Sign Up</a>
        <a href="/newschedule">Schedule</a>
    </div>
</header>
<main>
>>>>>>> 72e504cfb1eeca5d4fbec3d4d2347bdd16bd9f5a
