<header>
    <div>
    <img src='/Assets/logo_blanc.png' alt='White Mr. Coffee Logo' id='whiteLogo'>
    <h1>Scheduling Website</h1>
    </div>
    <div>
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/signup">Sign Up</a>
        <a href="/newschedule">Schedule</a>
    </div>
</header>
<main>
